<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>45199130539-0ns480kto48rtrhftd6gr5pobmcan1th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45199130539-0ns480kto48rtrhftd6gr5pobmcan1th</string>
	<key>API_KEY</key>
	<string>AIzaSyCfAPoa3OZ6VA2t_VLdyXqSMbP3UKmyuv8</string>
	<key>GCM_SENDER_ID</key>
	<string>45199130539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finvest</string>
	<key>PROJECT_ID</key>
	<string>flutter-finvest</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-finvest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45199130539:ios:e68eb16a3a76c0b7fbdcee</string>
</dict>
</plist>